<div class="container-fluid">
	<div class="row mb-5">
		<div class="col-12 mb-3">
			<span class="fs-3">Bienvenido {{name}}</span><br>
			<span>{{email}}</span>
		</div>
		<div class="col-12 mb-3">
			<span class="fs-4">Token de usuario</span>
			<code>{{token}}</code>
		</div>
		<div class="col-12">
			<a href="/logout" class="btn btn-primary">Salir</a>
		</div>
	</div>
</div>